.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.dim:hover,
.dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

#addingList {
	background: #113044;
	color: white;
	height: 50px;
	transition: height .15s ease-in;
}
#addingList:active {
	height: 0px;
	transition: height .15s ease-in;	
}